:root {
    --black: #222222;
    --pink-bcg: #F1E4E6;
    --pink-color: #F16D7F;
    --white: #FFFFFF;
    --green: #9F9F9F;
    --green-bcg: #F8F8F8;
    --black-title: #000000;
    --green-text: #5D5D5D;
    --pink-bth: #FF6A6A;
    --black-bcg: #222224;
    --white-text: #FBFBFB;
    --gray-form: #E1E1E1;
    --color-card: #3A3838;
    --pink-focus: #E05C6E;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__nav {
    display: none;
}

.header {
    background-color: var(--black);
    min-height: 75px;
}

.header__link {
    text-decoration: none;
    margin: 0 0 0 33px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-form-wrp {
    display: flex;
}

.header__search {
    margin: 0 0 0 41px;
}

.header__menu-btn {
    border: 1px solid;
    background-color: transparent;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bcg);
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    position: relative;
}

.brand__title-wrp::before {
    content: '';
    width: 12px;
    height: 92px;
    background-color: var(--pink-color);
    position: absolute;
    left: 70px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__subtitle-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    flex-direction: column;
}

.sales__item-woman {
    background-image: url(../img/for\ women.jpg);
}

.sales__item-men {
    background-image: url(../img/for\ men.jpg);
}

.sales__item-kids {
    background-image: url(../img/for\ kids.jpg);
}

.sales__item-accesories {
    background-image: url(../img/accessories.jpg);
    width: 100%;
    min-height: 180px;
    margin: 30px 0 97px 0;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color: var(--pink-color);
    text-transform: uppercase;
}

.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--black);
    text-align: center;
}

.products__subtitle {
    font-weight: 400;
    line-height: 17px;
    color: var(--green);
    text-align: center;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 18px auto;
}

.products__item {
    width: 360px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: var(--green-bcg);
    margin: 30px 0 0 0;
    position: relative;
}

.overlay {
    width: 360px;
    min-height: 420px;
    background-color: var(--color-card);
    opacity: 86%;
    position: absolute;
    top: 0;
    display: none;
}

.products__item-btn {
    position: absolute;
    top: 38%;
    left: 48%;
    width: 138px;
    height: 43px;
    transform: translate(-38%, -48%);
    background: url(../img/basket.svg);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    line-height: 17px;
    color: var(--white);
    display: none;
}

.products__item:hover .overlay,
.products__item:hover .products__item-btn {
    display: block;
}

.products__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black-title);
    text-transform: uppercase;
    padding: 25px 0 0 18px;
}

.products__item-text {
    font-weight: 300;
    line-height: 17px;
    color: var(--green-text);
    padding: 13px 29px 0 17px;
}

.products__item-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--pink-color);
    padding: 18px 0 20px 19px;
}

.products__btn {
    text-align: center;
    padding: 31px 0 0 0;
}

.products__btn_link {
    border: 1px solid var(--pink-bth);
    margin: 49px 0 96px 0;
    color: var(--pink-bth);
    text-decoration: none;
    width: 211px;
    height: 47px;
    text-align: center;
    padding: 15px 39px;
}

.products__btn_link:hover,
.products__btn_link:active,
.products__btn_link:focus {
    background-color: var(--pink-color);
    color: var(--white)
}

.advantages {
    background-color: var(--black-bcg);
    width: 100%;
    min-height: 341px;
    margin: 96px 0 0 0;
}

.advantages__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 341px;
}

.advantages__item {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 360px;
    flex-direction: column;
}

.advantages__item-title {
    color: var(--white-text);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 25px 0 0 0;
}

.advantages__item-text {
    color: var(--white-text);
    font-weight: 300;
    line-height: 17px;
    padding: 16px 0 0 0;
}

.footer__quoteform {
    width: 100%;
    min-height: 448px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__bck {
    background-image: url(../img/bck-footer.jpg);
    width: 100%;
    background-size: cover;
}

.footer__quote-wrp {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 360px;
}

.footer__form-wrp {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 557px;
}

.footer__quote-img {
    width: 96px;
    height: 96px;
}

.footer__quote-text {
    width: 360px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--black-bcg);
    padding: 30px 0 0 0;
}

.footer__form-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black-bcg);
    display: block;
    width: 557px;
}

.footer__form-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--black-bcg);
    display: block;
    width: 557px;
}

.footer__form-form {
    display: flex;
    width: 360px;
    padding: 32px 0 0 0;
    justify-content: center;
}

.footer__form-input {
    width: 256px;
    min-height: 49px;
    background-color: var(--gray-form);
    border-radius: 31px 0 0 31px;
    border: none;
    padding: 0 0 0 22px;
    color: var(--black-bcg);
}

.footer__form-btn {
    width: 100px;
    min-height: 49px;
    background-color: var(--pink-color);
    border: none;
    border-radius: 0 31px 31px 0;
    text-align: center;
    color: var(--white);
}

.footer__form-btn:hover,
.footer__form-btn:active,
.footer__form-btn:focus {
    background-color: var(--pink-focus);
}

.footer__bckcolor {
    background-color: var(--black-bcg);
    background-size: cover;
    width: 100%;
}

.footer__developer {
    min-height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__developer-text {
    color: var(--white-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.footer__developer-list {
    display: flex;
}