    $black: #222222;
    $pink-bcg: #F1E4E6;
    $pink-color: #F16D7F;
    $white: #FFFFFF;
    $green: #9F9F9F;
    $green-bcg: #F8F8F8;
    $black-title: #000000;
    $green-text: #5D5D5D;
    $pink-bth: #FF6A6A;
    $black-bcg: #222224;
    $white-text: #FBFBFB;
    $gray-form: #E1E1E1;
    $color-card: #3A3838;
    $pink-focus: #E05C6E;
    $grey-menu: #6F6E6E;
    $registration-pink-bck: #F8F3F4;
    $grey-productpage: #636363;
    $black-subtitle: #4D4D4D;
    $black-text: #5E5E5E;

    $tablet-width: 1599px;
    $mobile-width: 767px;