.brand {
    display: flex;
    margin: 0 0 63px;

    .brand__title-wrp {
        flex-grow: 1;
        background-color: $pink-bcg;
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
    }

    .brand__title-wrp::before {
        content: '';
        width: 12px;
        height: 92px;
        background-color: $pink-color;
        position: absolute;
        left: 864px;
    }

    .brand__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
    }

    .brand__subtitle {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        display: block;
    }

    .brand__subtitle-pink {
        color: $pink-color;
    }
}