.footer {

    .footer__quoteform {
        min-height: 448px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-direction: column;
            justify-content: space-around;
            min-height: 693px;
        }

        @include mobile {
            min-height: 550px;
        }
    }

    .footer__bck {
        background-image: url(../img/footer.jpg);
        width: 100%;
        background-size: cover;
    }

    .footer__quote-wrp {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 360px;
    }

    .footer__form-wrp {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 35%;
        align-items: center;

        @include mobile {
            width: 90%;
        }
    }

    .footer__quote-img {
        width: 96px;
        height: 96px;
    }

    .footer__quote-text {
        width: 360px;
        @include font (20px, 24px, 400);
        color: $black-bcg;
        padding: 30px 0 0 0;

        @include mobile {
            @include font (18px, 22px, 400);
        }
    }

    .footer__form-title {
        @include font (18px, 30px, 400);
        text-transform: uppercase;
        color: $black-bcg;
        display: block;
        width: 557px;

        @include mobile {
            @include font (14px, 21px, 400);
            width: 271px;
        }
    }

    .footer__form-subtitle {
        @include font (24px, 38px, 700);
        text-transform: uppercase;
        color: $black-bcg;
        display: block;

        @include mobile {
            @include font (24px, 36px, 700);
        }
    }

    .footer__form-form {
        display: flex;
        width: 355px;
        padding: 32px 0 0 0;
        justify-content: center;

        @include mobile {
            width: 90%;
        }
    }

    .footer__form-input {
        width: 256px;
        min-height: 49px;
        background-color: $gray-form;
        border-radius: 31px 0 0 31px;
        border: none;
        padding: 0 0 0 22px;
        color: $black-bcg;
    }

    .footer__form-input:hover,
    .footer__form-input:focus {
        border: 2px solid $pink-bth;
    }

    .footer__form-btn {
        width: 100px;
        min-height: 49px;
        background-color: $pink-color;
        border: none;
        border-radius: 0 31px 31px 0;
        text-align: center;
        color: $white;
    }

    .footer__form-btn:hover,
    .footer__form-btn:active,
    .footer__form-btn:focus {
        background-color: $pink-focus;
    }

    .footer__bckcolor {
        background-color: $black-bcg;
        background-size: cover;
        width: 100%;

        @include mobile {
            padding: 43px 0 0 0;
        }
    }

    .footer__developer {
        min-height: 79px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            min-height: 143px;
            flex-direction: column-reverse;
            justify-content: space-around;
        }

        .footer__developer-text {
            color: $white-text;
            @include font (16px, 19px, 400);
        }

        .footer__developer-item:hover,
        .footer__developer-item:active,
        .footer__developer-item:focus {
            border: 2px solid $pink-bth;
            width: 32px;
            height: 32px;
        }

        .footer__developer-list {
            display: flex;
            width: 150px;
            min-height: 32px;
            justify-content: space-between;
        }
    }
}