.sales {

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 31%;
        min-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        flex-direction: column;
        background-size: cover;

        @include tablet {
            min-height: 161px;
        }

        @include mobile {
            width: 100%;
            min-height: 239px;
            margin: 0 0 32px 0;
        }

        &-woman {
            background-image: url(../img/for\ women.jpg);
        }

        &-men {
            background-image: url(../img/for\ men.jpg);
        }

        &-kids {
            background-image: url(../img/for\ kids.jpg);
        }

        &-accesories {
            background-image: url(../img/accessories.jpg);
            width: 100%;
            min-height: 180px;
            margin: 30px 0 97px 0;

            @include tablet {
                min-height: 116px;
            }

            @include mobile {
                min-height: 111px;
                margin: 0 0 32px 0;
            }
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: center;
            color: $pink-color;
            text-transform: uppercase;
        }
    }
}